---
layout: layout
title: Posts - Mateus Bruno T. Lopes
---
<div class="container">
	<h3>Posts</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			{% for post in site.posts %}
				<div class="row">
					<h5 style="text-align: center">
						<!-- <strong>{{ post.categories }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>-->
						{% assign my_string = post.categories %}
						{% if my_string == 'github' %}
						<strong><i class="fa fa-github">&nbsp;&nbsp;</i><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
						{% endif %}	
						{% if my_string == linkedin %}
						<strong><i class="fa fa-linkedin">&nbsp;&nbsp;</i><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
						{% endif %}	
						{% if my_string != linkedin or my_string != 'github'%}
						<strong>{{ my_string }}<i class="fa fa-linkedin"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
						{% endif %}	
					</h5>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
