<section id="parcerias">
<div class="container">
  <h3>Parcerias</h3>
	  <div class="panel panel-default">
		<h5>
		<strong><a href="http://ignicaogp.com.br/home/" target="_blank">IGNIÇÃO GP</a></strong>
		<p><i>A IGNIÇÃO GP é um parceiro autorizado de treinamento da <a href="https://www.scrumstudy.com/portuguese" target="_blank">SCRUMStudy</a> - Orgão internacional de certificações Scrum.</p>
		<br/>
		<p>Uma parceria entre <strong>Mateus Lopes</strong> e <strong>IGNIÇÃO GP</strong>, oferece desconto de <strong>20%</strong> aos interessados em fazer as seguintes provas de certificação da SCRUMstudy.:</p>
		<br/>
		<p><strong>SDC</strong>, Scrum Developer Certified - https://lnkd.in/dkCMa4j</p>
		<p><strong>SMC</strong>, Scrum Master Certified - https://lnkd.in/d9fgpkt</p>
		<p><strong>SPOC</strong>, Scrum Product Owner Certified - https://lnkd.in/dHqsiJb</p>
		<br/>
		<p>Acesse os link's acima e feche a sua compra utilizando o código <strong>MATEUSLOPES</strong> para garantir seu desconto de 20%.
		</h5>
	  </div>		  
</div>
</section>
