<section id="parcerias">
<div class="container">
  <h3>Parcerias</h3>
	  <div class="panel panel-default">
		<h5>
			
		<div style="text-align:center">
		<p><img src="https://raw.githubusercontent.com/mateusblopes/mateusblopes.github.io/master/img/parceria_mateusblopes_ignicaogp.png" alt="Parceria Mateus Lopes e Ignição GP" height="240" width="427"/></p>
		</div>
		
		<strong><a href="http://ignicaogp.com.br/home/" target="_blank">IGNIÇÃO GP</a> + <a href="https://www.scrumstudy.com/portuguese" target="_blank">SCRUMstudy ™</a></strong>
		<p>A IGNIÇÃO GP é um parceiro autorizado de treinamento da SCRUMstudy ™ (É o organismo global de acreditação para certificações Scrum e Agile).</p>
		<p>Uma parceria entre <strong>Mateus Lopes</strong> e <strong>IGNIÇÃO GP</strong>, oferece desconto de <strong>20%</strong> aos interessados em fazer as seguintes provas de certificação da SCRUMstudy.:</p>
		
		<p><strong>SDC</strong>, Scrum Developer Certified - <a href="https://lnkd.in/dkCMa4j" target="_blank">https://lnkd.in/dkCMa4j</a></p>
		<p><strong>SMC</strong>, Scrum Master Certified - <a href="https://lnkd.in/d9fgpkt" target="_blank">https://lnkd.in/d9fgpkt</a></p>
		<p><strong>SPOC</strong>, Scrum Product Owner Certified - <a href="https://lnkd.in/dHqsiJb" target="_blank">https://lnkd.in/dHqsiJb</a></p>
		
		<p>Acesse os link's acima e feche a sua compra utilizando o código <strong>MATEUSLOPES20</strong> para garantir seu desconto de 20%.
		</h5>
	  </div>		  
</div>
</section>
