<section id="portfolio">
<div class="container">
  <h3>Portfolio</h3>
	  <div class="panel panel-default">
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/arquivosparapowerbi" target="_blank">Arquivos para Power BI</a></strong>
			<p><i>Repositório de arquivos para importação de exemplos em Power BI.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/artigos" target="_blank">Artigos</a></strong>
			<p><i>Repositório destinado à artigos e papers submetidos em eventos.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/fazendo-bi-do-zero" target="_blank">Fazendo BI do Zero</a></strong>
			<p><i>Passo a passo de como fazer um projeto de BI (Business Intelligence) do planejamento aos testes de dashboards.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/fundamentos-big-data" target="_blank">Fundamentos Big Data</a></strong>
			<p><i>Repositório de arquivos do Curso de Fundamentos Big Data com Apache Hadoop oferecido pela Never Stop Learning.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/hackerranksolutions" target="_blank">Hacker Rank Solutions</a></strong>
			<p><i>Repositório de soluções construídas em Python para os exercícios propostos como treinamento usando o site https://hackerrank.com.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/PowerBI-DataScience" target="_blank">Power BI Data Science</a></strong>
			<p><i>Repositório de arquivos utilizados no Curso Microsoft Power BI Para Data Science oferecido pela Data Science Academy.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/Power-Platform" target="_blank">Power-Platform</a></strong>
			<p><i>Repositório de arquivos com código fonte dos dashboards, aplicativos e fluxos criados para o curso de Power Platform da <a href="http://www.treinarmias.com.br" target="_blank">Treinar</a>.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/selenium-webdriver" target="_blank">Selenium WebDriver</a></strong>
			<p><i>Automatizando testes com Selenium WebDriver em C# utilizando Page Objects.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/simplex-lp-solver-excel" target="_blank">Excel - Solver Simplex LP</a></strong>
			<p><i>Repositório destinado a aplicação e teste de pesquisa operacional na construção de algoritmos simplex, para solucionar problemas de programação linear no excel.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/simuladorLoteria" target="_blank">Simulador Loteria</a></strong>
			<p><i>Repositório destinado a simulação de sorteio da loteria federal brasileira criado em HTML, JavaScript, CSS.</i></p>
		</h5>
		<h5>
			<i class="fa fa-github">&nbsp;&nbsp;</i><strong><a href="https://github.com/mateusbtlopes/trabalhando-com-ssis" target="_blank">Trabalhando com SSIS</a></strong>
			<p><i>Repositório de arquivos utilizados nos posts sobre a ferramenta SSIS (SQL Server Integration Service).</i></p>
		</h5>
	</div>		  
</div>
</section>
