<section id="projects">
<div class="container">
  <h3>Projetos</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mateusblopes/artigos" target="_blank">Artigos</a></strong>
			</i>&nbsp;-&nbsp;<strong><a href="../articles" target="_blank">Artigos</a></strong>
			<p>Repositório destinado à artigos e papers submetidos em eventos.</p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mateusblopes/simuladorLoteria" target="_blank">Simulador Loteria</a></strong>
			</i>&nbsp;-&nbsp;<strong><a href="../simuladorLoteria" target="_blank">Simulador Loteria</a></strong>
			<p>Repositório destinado a simulação de sorteio da loteria federal brasileira criado em HTML, JavaScript, CSS.</p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mateusblopes/fazendo-bi-do-zero" target="_blank">Fazendo BI do Zero</a></strong>
			</i>&nbsp;-&nbsp;<strong><a href="../fazendo-bi-do-zero" target="_blank">Fazendo BI do Zero</a></strong>
			<p>Passo a passo de como fazer um projeto de BI (Business Intelligence) do planejamento aos testes de dashboards.</p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mateusblopes/selenium-webdriver" target="_blank">Selenium WebDriver</a></strong>
			</i>&nbsp;-&nbsp;<strong><a href="../selenium-webdriver" target="_blank">Selenium WebDriver</a></strong>
			<p>Automatizando testes com Selenium WebDriver em C# utilizando Page Objects.</p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mateusblopes/trabalhando-com-ssis" target="_blank">Trabalhando com SSIS</a></strong>
			</i>&nbsp;-&nbsp;<strong><a href="../blog" target="_blank">Trabalhando com SSIS</a></strong>
			<p>Repositório de arquivos utilizados nos posts sobre a ferramenta SSIS (SQL Server Integration Service).</p>
		</h5>
    </div>
  </div>
</div>
</section>
