<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old' rel='stylesheet' type='text/css'-->

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/main.css" />
	<!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" /-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/syntax.css" />
  	
	<title>Selenium WebDriver - Mateus Bruno T. Lopes</title>
</head>
<body>
<div class="container">
  <h3>Selenium WebDriver</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<p>Automatizando testes com Selenium WebDriver em C# utilizando Page Objects.</p>
		
		<h4> O que é Selenium ?</h4>
		
		<p> Selenium não é uma ferramenta e nem uma biblioteca ele é um facilitador para automação web, ou seja, ele automatiza aplicações web para fins de teste, mas com certeza não se limita a apenas isso.</p>
		
		<h4> O que é Page Objects ?</h4>
		
		<p> A proposta desse padrão é de criar um objeto para cada pagina web do projeto que seja testado, e utilizando orientação a objetos, encapsulamos em cada classe os atributos e métodos, como campos e ações de cada página. Por exemplo, para cada página a ser testada em nossos testes teremos uma classe que mapeia cada uma das ações e campos.</p>
		
		<h4>Exemplificando:</h4>
		<p><strong><a href="https://github.com/mateusblopes/selenium-webdriver/tree/master/selenium-webdriver/Pages" target="_blank">Classes Pages</a></strong> - <strong><a href="https://github.com/mateusblopes/selenium-webdriver/tree/master/selenium-webdriver/Tests" target="_blank">Classes Test</a></strong></p>
		
		<h4>Automações realizadas:</h4>
		<p>Abrir browser;</p>
		<p>Fechar browser;</p>
		<p><strong><a href="https://github.com/mateusblopes/selenium-webdriver/tree/master/selenium-webdriver/Tests" target="_blank">TestGoogle</a></strong> - Pesquisando no google;</p>
		<p><strong><a href="https://github.com/mateusblopes/selenium-webdriver/tree/master/selenium-webdriver/Tests" target="_blank">TestDesafioSelenium01</a></strong> - Somando dois números randomicos;</p>
		<p><strong><a href="https://github.com/mateusblopes/selenium-webdriver/tree/master/selenium-webdriver/Tests" target="_blank">TestDesafioSelenium02</a></strong> - Edição de campos inline;</p>
		<p><strong><a href="https://github.com/mateusblopes/selenium-webdriver/tree/master/selenium-webdriver/Tests" target="_blank">TestDesafioSelenium04</a></strong> - Inserindo dados em formulários com compos que são de auto preenchimento;</p>
		<p><strong><a href="https://github.com/mateusblopes/selenium-webdriver/tree/master/selenium-webdriver/Tests" target="_blank">TestDesafioSelenium05</a></strong> - Preenchendo campos com Ids dinâmicos;</p>

	
    </div>
  </div>
</div>
</body>
</html>
