<section id="sugestoes">
	<div class="container">
		<h3>Sugestões</h3>
		<div class="panel panel-default">
			<h5>
			<strong><a target="_blank" href="https://www.amazon.com.br/gp/registry/wishlist/V1OPUTU1MR50/?&_encoding=UTF8&tag=mateusbtlopes-20&linkCode=ur2&linkId=004c501def33be55c857d44b783ad788&camp=1789&creative=9325">Alguns livros que eu recomendo a leitura!</a><img src="//ir-br.amazon-adsystem.com/e/ir?t=mateusbtlopes-20&l=ur2&o=33" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</h5></strong>

			<h5>
				<strong><a href="http://info.igti.com.br/aff_c?offer_id=226&aff_id=1527" target="_blank">Bootcamps IGTI</a></strong>

				<div style="text-align:center">
					<p><img src="https://raw.githubusercontent.com/mateusblopes/mateusblopes.github.io/master/img/BootcampDivulgacao.png" alt="Programa de Bootcamp IGTI" height="240" width="427"/></p>
				</div>

				<p>Oportunidade única de se capacitar para atuar nas áreas de Software Development, Inteligência Artificial, Data Science, Cybersecurity, Cloud Computing e UX, estudando  Instituto de Gestão e Tecnologia da Informação.</p>
				<p>São mais de 20 opções de Bootcamps que terão início em <strong>10/Setembro</strong> com duração de <strong>2 meses</strong> (<i>~148 horas de curso</i>).</p>

				<ul>
					<li><strong>Administrador Linux </strong> - <a href=' https://lnkd.in/eat_JxG' target='_blank'> https://lnkd.in/eat_JxG</a></li>
					<li><strong>Agile Expert </strong> - <a href=' https://lnkd.in/edVGZtG' target='_blank'> https://lnkd.in/edVGZtG</a></li>
					<li><strong>Banco de Dados </strong> - <a href=' https://lnkd.in/e6AuNiM' target='_blank'> https://lnkd.in/e6AuNiM</a></li>
					<li><strong>Analista de Cybersecurity </strong> - <a href=' https://lnkd.in/ebVFfe2' target='_blank'> https://lnkd.in/ebVFfe2</a></li>
					<li><strong>Analista de Machine Learning </strong> - <a href=' https://lnkd.in/eGP8wQ7' target='_blank'> https://lnkd.in/eGP8wQ7</a></li>
					<li><strong>Analista de Processos de Negócio </strong> - <a href=' https://lnkd.in/eegpUPb' target='_blank'> https://lnkd.in/eegpUPb</a></li>
					<li><strong>Arquiteto Cloud Computing </strong> - <a href=' https://lnkd.in/ex6AfPr' target='_blank'> https://lnkd.in/ex6AfPr</a></li>
					<li><strong>Arquiteto de Software </strong> - <a href=' https://lnkd.in/epDq2pQ' target='_blank'> https://lnkd.in/epDq2pQ</a></li>
					<li><strong>Cientista de Dados </strong> - <a href=' https://lnkd.in/ecHVdH2' target='_blank'> https://lnkd.in/ecHVdH2</a></li>
					<li><strong>Desenvolvedor Business Intelligence (BI) </strong> - <a href=' https://lnkd.in/e-F3Nka' target='_blank'> https://lnkd.in/e-F3Nka</a></li>
					<li><strong>Desenvolvedor Front</strong> - <a href=' https://lnkd.in/eReR6YB' target='_blank'> https://lnkd.in/eReR6YB</a></li>
					<li><strong>Desenvolvedor Full Stack </strong> - <a href=' https://lnkd.in/eQNu2Uq' target='_blank'> https://lnkd.in/eQNu2Uq</a></li>
					<li><strong>Desenvolvedor Mobile Apps </strong> - <a href=' https://lnkd.in/e7HUqwE' target='_blank'> https://lnkd.in/e7HUqwE</a></li>
					<li><strong>Desenvolvedor Python </strong> - <a href=' https://lnkd.in/eZijdK4' target='_blank'> https://lnkd.in/eZijdK4</a></li>
					<li><strong>Educador Digital </strong> - <a href=' https://lnkd.in/e464GZm' target='_blank'> https://lnkd.in/e464GZm</a></li>
					<li><strong>Engenharia de Dados </strong> - <a href=' https://lnkd.in/eddHdPv' target='_blank'> https://lnkd.in/eddHdPv</a></li>
					<li><strong>Engenheiro de Software Ágil </strong> - <a href=' https://lnkd.in/eCNKjYk' target='_blank'> https://lnkd.in/eCNKjYk</a></li>
					<li><strong>Líder de Transformação Digital </strong> - <a href=' https://lnkd.in/ea39xMq' target='_blank'> https://lnkd.in/ea39xMq</a></li>
					<li><strong>Profissional DevOps </strong> - <a href=' https://lnkd.in/e9jgWaF' target='_blank'> https://lnkd.in/e9jgWaF</a></li>
					<li><strong>Programador de Software Iniciante </strong> - <a href=' https://lnkd.in/ee7wB-k' target='_blank'> https://lnkd.in/ee7wB-k</a></li>
					<li><strong>UX Designer </strong> - <a href=' https://lnkd.in/eQDtxiS' target='_blank'> https://lnkd.in/eQDtxiS</a></li>
				</ul>
					
				<p>Cada Bootcamp tem um custo de R$100,00 para matrícula e nada mais.</p>
				<p>Bons estudos!</p>
			</h5>
			<hr>
			<h5>
				<strong><a href="{{ site.baseurl }}" target="_blank">Certificações SCRUM</a></strong>

				<div style="text-align:center">
					<p><img src="https://raw.githubusercontent.com/mateusblopes/mateusblopes.github.io/master/img/parceria_mateusblopes_ignicaogp.png" alt="Parceria Mateus Lopes e Ignição GP" height="240" width="427"/></p>
				</div>

				<p>A <a href="http://ignicaogp.com.br/home/" target="_blank">IGNIÇÃO GP</a> é um parceiro autorizado de treinamento da <a href="https://www.scrumstudy.com/portuguese" target="_blank">SCRUMstudy</a> ™ (um organismo global de acreditação para certificações Scrum e Agile).</p>
				<p>Os interessados nas provas de certificação da SCRUMstudy tem desconto de <strong>20%</strong> nas seguintes provas.:</p>

				<ul>
					<li><strong>SDC</strong>, Scrum Developer Certified - <a href="https://lnkd.in/dkCMa4j" target="_blank">https://lnkd.in/dkCMa4j</a></li>
					<li><strong>SMC</strong>, Scrum Master Certified - <a href="https://lnkd.in/d9fgpkt" target="_blank">https://lnkd.in/d9fgpkt</a></li>
					<li><strong>SPOC</strong>, Scrum Product Owner Certified - <a href="https://lnkd.in/dHqsiJb" target="_blank">https://lnkd.in/dHqsiJb</a></li>
				</ul>
					
				<p>A SCRUMstudy oferece ainda a <strong>SFC</strong>, Scrum Fundamentals Certified - <a href="https://lnkd.in/eERGaFQ" target="_blank">https://lnkd.in/eERGaFQ</a> - Uma certificação <strong>gratuita</strong> para qualquer pessoa interessada em saber mais sobre Scrum, aprender sobre os seus princípios, aspectos e processos, tais como definidos no Manual do SBOK ™ e para obter uma compreensão básica de como o framework Scrum trabalha na entrega de projetos bem-sucedidos.</p>
			</h5>
		</div>		  
	</div>
</section>
