<section id="sugestoes">
	<div class="container">
		<h3>Sugestões</h3>
		<div class="panel panel-default">
			<h5>
			<strong><a target="_blank" href="https://www.amazon.com.br/gp/registry/wishlist/V1OPUTU1MR50/?&_encoding=UTF8&tag=mateusbtlopes-20&linkCode=ur2&linkId=004c501def33be55c857d44b783ad788&camp=1789&creative=9325">Alguns livros que eu recomendo a leitura!</a><img src="//ir-br.amazon-adsystem.com/e/ir?t=mateusbtlopes-20&l=ur2&o=33" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</h5></strong>
			<hr>
			<h5>
				<strong><a href="{{ site.baseurl }}" target="_blank">Certificações SCRUM</a></strong>

				<div style="text-align:center">
					<p><img src="https://raw.githubusercontent.com/mateusblopes/mateusblopes.github.io/master/img/parceria_mateusblopes_ignicaogp.png" alt="Parceria Mateus Lopes e Ignição GP" height="240" width="427"/></p>
				</div>

				<p>A <a href="http://ignicaogp.com.br/home/" target="_blank">IGNIÇÃO GP</a> é um parceiro autorizado de treinamento da <a href="https://www.scrumstudy.com/portuguese" target="_blank">SCRUMstudy</a> ™ (um organismo global de acreditação para certificações Scrum e Agile).</p>
				<p>Os interessados nas provas de certificação da SCRUMstudy tem desconto de <strong>20%</strong> nas seguintes provas.:</p>

				<ul>
					<li><strong>SDC</strong>, Scrum Developer Certified - <a href="https://lnkd.in/dkCMa4j" target="_blank">https://lnkd.in/dkCMa4j</a></li>
					<li><strong>SMC</strong>, Scrum Master Certified - <a href="https://lnkd.in/d9fgpkt" target="_blank">https://lnkd.in/d9fgpkt</a></li>
					<li><strong>SPOC</strong>, Scrum Product Owner Certified - <a href="https://lnkd.in/dHqsiJb" target="_blank">https://lnkd.in/dHqsiJb</a></li>
				</ul>
					
				<p>A SCRUMstudy oferece ainda a <strong>SFC</strong>, Scrum Fundamentals Certified - <a href="https://lnkd.in/eERGaFQ" target="_blank">https://lnkd.in/eERGaFQ</a> - Uma certificação <strong>gratuita</strong> para qualquer pessoa interessada em saber mais sobre Scrum, aprender sobre os seus princípios, aspectos e processos, tais como definidos no Manual do SBOK ™ e para obter uma compreensão básica de como o framework Scrum trabalha na entrega de projetos bem-sucedidos.</p>
			</h5>
		</div>		  
	</div>
</section>
