<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old' rel='stylesheet' type='text/css'-->

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/main.css" />
	<!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" /-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/syntax.css" />
  	
	<title>Timeline - Mateus Bruno T. Lopes</title>
</head>
<body>

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Software Developer Analyst - Accenture</h2>
				<p>- Documentar, Modelar bancos de dados dimensionais usando SQL Server.</p>
				<p>- Desenvolver rotinas ETL (Extract, Transform, Load) utilizando SSIS (SQL Server Integration Service).</p>
				<p>- Migrar ferramentas de uso interno para acompanhamento e desenvolvimento dos projetos.</p>
				<p>- Liderar equipe de qualidade, apoiando e orientando as atividades de teste (manuais, automatizados) e documentação dos projetos;</p>
				<p>- Liderar implantação e adequação do processo de outsourcing dos projetos da área de mineração;</p>
				<P>- Apoiar e orientar analistas/gerentes de projetos nas atividades de outsourcing dos projetos da área de mineração;</p>
				<a href="https://br.linkedin.com/in/mateusblopes" target="_blank" class="cd-read-more">Leia mais</a>
				<span class="cd-date">Dezembro/2015</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Software Developer Associate - Accenture</h2>
				<p>- Liderar equipe de qualidade, apoiando e orientando as atividades de teste (manuais, automatizados) e documentação dos projetos;</p>
				<p>- Liderar implantação e adequação do processo de outsourcing dos projetos da área de mineração;</p>
				<p>- Apoiar e orientar analistas/gerentes de projetos nas atividades de outsourcing dos projetos da área de mineração;</p>
				<a href="https://br.linkedin.com/in/mateusblopes" target="_blank" class="cd-read-more">Leia mais</a>
				<span class="cd-date">Março/2015</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Líder de Qualidade - Gapso</h2>
				<p>- Liderar equipe de qualidade, apoiando e orientando a implantação das normas de qualidade baseando-se nos modelos de melhoria CMMI e MPS-Br;</p>
				<p>- Gerenciar as atividades de melhoria e garantia da qualidade;</p>
				<p>- Gerenciar as atividades de teste (manuais, automatizados) e documentação dos projetos;</p>
				<p>- Estudar e propor melhorias ou novos processos utilizados pela empresa para gerenciamento de projetos;</p>
				<p>- Estudar e propor formas de melhoria no uso das ferramentas já utilizadas pela empresa, pesquisando novos plugins, novas formas de integração, novas ferramentas, novas tecnologias que auxiliem na melhoria contínua dos produtos desenvolvidos pela empresa.</p>
				<a href="https://br.linkedin.com/in/mateusblopes" target="_blank" class="cd-read-more">Leia mais</a>
				<span class="cd-date">Setembro/2014</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Analista de Testes - Gapso</h2>
				<p>- Definição do processo de testes;</p>
				<p>- Planejamento, elaboração, orientação e execução de casos de testes;</p>
				<p>- Preparação de ambientes e massa de dados para execução de testes unitários, de integração e de sistemas, registro e identificação de falhas, otimizações e sugestões;</p>
				<p>- Automação de teste utilizando Selenium IDE e Selenium WebDriver;</p>
				<p>- Realização e acompanhamento de auditorias, coletando e publicando métricas baseando-se nos modelos de melhoria CMMI e MPS.Br.</p>
				<a href="https://br.linkedin.com/in/mateusblopes" target="_blank" class="cd-read-more">Leia mais</a>
				<span class="cd-date">Junho/2012</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Analista de Testes - Oriontec</h2>
				<p>- Atuação no planejamento, elaboração, orientação e execução de casos de testes;</p>
				<p>- Preparação de ambientes para execução de testes de integração e de sistemas, registro e identificação de falhas, otimizações e sugestões;</p>
				<p>- Utilização de ferramenta UML Enterprise Architect para produção de artefatos.</p>
				<a href="https://br.linkedin.com/in/mateusblopes" target="_blank" class="cd-read-more">Leia mais</a>
				<span class="cd-date">Março/2011</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Continue lendo...</h2>
				<p>Dê uma olhada nos meus <a href="{{ site.baseurl }}projects.html">Projetos</a> no GitHub.</p>
				<p>Confira meu perfil completo no <a href="https://br.linkedin.com/in/mateusblopes" target="_blank">LinkedIn</a>.</p>
				<span class="cd-date"></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
